In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn import preprocessing

In [3]:
emp = pd.read_csv("Employee_Salary_Dataset.csv")
emp.head(10)

   ID  Experience_Years  Age  Gender   Salary
0   1                 5   28  Female   250000
1   2                 1   21    Male    50000
2   3                 3   23  Female   170000
3   4                 2   22    Male    25000
4   5                 1   17    Male    10000
5   6                25   62    Male  5001000
6   7                19   54  Female   800000
7   8                 2   21  Female     9000
8   9                10   36  Female    61500
9  10                15   54  Female   650000

In [5]:
emp.mean()

ID                  1.800000e+01
Experience_Years    9.200000e+00
Age                 3.548571e+01
Salary              2.059147e+06
dtype: float64

In [6]:
emp.loc[:, 'Age'].mean()

35.48571428571429

In [8]:
emp.mean(axis=1)[0:4]

0    62508.50
1    12506.00
2    42507.25
3     6257.00
dtype: float64

In [10]:
emp.median()

ID                      18.0
Experience_Years         6.0
Age                     29.0
Salary              250000.0
dtype: float64

In [11]:
emp.loc[:, 'Age'].median()

29.0

In [12]:
emp.median(axis=1)[0:4]

0    16.5
1    11.5
2    13.0
3    13.0
dtype: float64

In [13]:
emp.mode()

    ID  Experience_Years   Age    Salary
0    1               2.0  54.0   25000.0
1    2               NaN   NaN  250000.0
2    3               NaN   NaN       NaN
3    4               NaN   NaN       NaN
4    5               NaN   NaN       NaN
5    6               NaN   NaN       NaN
6    7               NaN   NaN       NaN
7    8               NaN   NaN       NaN
8    9               NaN   NaN       NaN
9   10               NaN   NaN       NaN
10  11               NaN   NaN       NaN
11  12               NaN   NaN       NaN
12  13               NaN   NaN       NaN
13  14               NaN   NaN       NaN
14  15               NaN   NaN       NaN
15  16               NaN   NaN       NaN
16  17               NaN   NaN       NaN
17  18               NaN   NaN       NaN
18  19               NaN   NaN       NaN
19  20               NaN   NaN       NaN
20  21               NaN   NaN       NaN
21  22               NaN   NaN       NaN
22  23               NaN   NaN       NaN
23  24               NaN   NaN       NaN
24  25               NaN   NaN       NaN
25  26               NaN   NaN       NaN
26  27               NaN   NaN       NaN
27  28               NaN   NaN       NaN
28  29               NaN   NaN       NaN
29  30               NaN   NaN       NaN
30  31               NaN   NaN       NaN
31  32               NaN   NaN       NaN
32  33               NaN   NaN       NaN
33  34               NaN   NaN       NaN
34  35               NaN   NaN       NaN

In [14]:
emp.loc[:, 'Age'].mode()

0    54
Name: Age, dtype: int64

In [15]:
emp.min()

ID                       1
Experience_Years         1
Age                     17
Gender              Female
Salary                3000
dtype: object

In [16]:
emp.loc[:, 'Age'].min(skipna = False)

17

In [17]:
emp.max()

ID                        35
Experience_Years          27
Age                       62
Gender                  Male
Salary              10000000
dtype: object

In [18]:
emp.loc[:, 'Age'].max(skipna = False)

62

In [20]:
emp.std()

ID                  1.024695e+01
Experience_Years    7.552950e+00
Age                 1.464355e+01
Salary              3.170124e+06
dtype: float64

In [21]:
emp.loc[:, 'Age'].std()

14.643551940884361

In [22]:
emp.std(axis=1)[0:4]

0    124994.333900
1     24996.001694
2     84995.167190
3     12495.336570
dtype: float64

In [23]:
emp.groupby(['Gender'])['Age'].mean()

Gender
Female    37.111111
Male      33.764706
Name: Age, dtype: float64

In [24]:
emp_2 = emp.rename(columns = {'Annual Incomek$)':'Income'},inplace = False)

In [25]:
emp_2.groupby(['Gender']).Salary.mean()

Gender
Female    2.054917e+06
Male      2.063626e+06
Name: Salary, dtype: float64

In [26]:
enc = preprocessing.OneHotEncoder()
enc_emp = pd.DataFrame(enc.fit_transform(emp[['Salary']]).toarray())
enc_emp

,0,1,2,3,4,5,6,7,8,9,...,23,24,25,26,27,28,29,30,31,32
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
11,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
13,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
15,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
17,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
18,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
19,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
21,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
22,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
23,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
24,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
25,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
26,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
27,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
28,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
29,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
30,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
31,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
32,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
33,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0

In [27]:
emp_encode = emp_2.join(enc_emp)
emp_encode.head(10)

,ID,Experience_Years,Age,Gender,Salary,0,1,2,3,4,...,23,24,25,26,27,28,29,30,31,32
0,1,5,28,Female,250000,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2,1,21,Male,50000,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,3,3,23,Female,170000,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,4,2,22,Male,25000,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,5,1,17,Male,10000,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,6,25,62,Male,5001000,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,7,19,54,Female,800000,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,8,2,21,Female,9000,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,9,10,36,Female,61500,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,10,15,54,Female,650000,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [28]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [29]:
iris = pd.read_csv("iris.csv")
iris.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [31]:
irisSet = (iris['species'] == 'setosa')
print(iris[irisSet].describe())

       sepal_length  sepal_width  petal_length  petal_width
count      50.00000    50.000000     50.000000     50.00000
mean        5.00600     3.418000      1.464000      0.24400
std         0.35249     0.381024      0.173511      0.10721
min         4.30000     2.300000      1.000000      0.10000
25%         4.80000     3.125000      1.400000      0.20000
50%         5.00000     3.400000      1.500000      0.20000
75%         5.20000     3.675000      1.575000      0.30000
max         5.80000     4.400000      1.900000      0.60000

In [32]:
irisVer = (iris['species'] == 'versicolor')
print(iris[irisVer].describe())

       sepal_length  sepal_width  petal_length  petal_width
count     50.000000    50.000000     50.000000    50.000000
mean       5.936000     2.770000      4.260000     1.326000
std        0.516171     0.313798      0.469911     0.197753
min        4.900000     2.000000      3.000000     1.000000
25%        5.600000     2.525000      4.000000     1.200000
50%        5.900000     2.800000      4.350000     1.300000
75%        6.300000     3.000000      4.600000     1.500000
max        7.000000     3.400000      5.100000     1.800000

In [33]:
irisVir = (iris['species'] == 'virginica')
print(iris[irisVir].describe())

       sepal_length  sepal_width  petal_length  petal_width
count      50.00000    50.000000     50.000000     50.00000
mean        6.58800     2.974000      5.552000      2.02600
std         0.63588     0.322497      0.551895      0.27465
min         4.90000     2.200000      4.500000      1.40000
25%         6.22500     2.800000      5.100000      1.80000
50%         6.50000     3.000000      5.550000      2.00000
75%         6.90000     3.175000      5.875000      2.30000
max         7.90000     3.800000      6.900000      2.50000